/* MainPage.css */

.main-container {
    display: flex;
    margin-top: 150px;
    padding-left: 80px;
}

.calendar-section {
    transform: scale(3);
    transform-origin: top left;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    margin-top: 20px;
    width: 160px;
    height: 30px;
    border-radius: 25px;
    background-color: #ffa500;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.expense-section {
    width: 700px;
    margin-left: 600px;
}

.expense-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.expense-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-item {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 100px;
}

.expense-item-border {
    border-bottom: 1px solid #e0e0e0;
}

.expense-empty {
    background-color: #f7f7f7;
    color: #aaa;
    width: 100%;
    text-align: center;
}

.expense-filled {
    background-color: #ffffff;
}

.expense-name {
    flex: 1;
}

.expense-amount {
    color: #555;
}

.plus-button {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}
