/* MainPage.css */

.main-container {
    display: flex;
    margin-top: 80px;
    padding-left: 60px;
    justify-content: center;
    margin-left: -60px;
    flex-grow: 1;
}

.calendar-section {
    transform: scale(2.2);
    transform-origin: top left;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    background-color: #365a93;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    text-align: center;
}

.upload-button:hover {
    background-color: #ee9434;
}

.expense-section {
    width: 520px;
    margin-left: 320px;
    margin-top: -58px;
}

.expense-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.expense-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-item {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    height: 80px;
}

.expense-item-border {
    border-bottom: 1px solid #e0e0e0;
}

.expense-empty {
    background-color: #f7f7f7;
    color: #aaa;
    width: 100%;
    text-align: center;
}

.expense-filled {
    background-color: #ffffff;
}

.expense-name {
    flex: 1;
}

.expense-amount {
    color: #555;
}

.plus-button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.main-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.goal-display {
    text-align: center;
    padding: 25px;
    font-weight: bold;
    background-color: #f3f3f3;
    border-top: 1px solid #ccc;
    font-size: 1.3rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
    background-color: #ee9434;
    color: white;
}
.react-datepicker__day:hover {
    background-color: #ee9434 !important;
    color: white !important;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        padding-left: 0;
        margin-left: 0;
    }

    .calendar-section {
        transform: scale(1.8);
        margin-left: 0;
        align-items: center;
    }

    .upload-button {
        width: 130px;
        height: 26px;
        font-size: 0.6rem;
    }

    .expense-section {
        width: 90%;
        margin-top: 20px;
        margin-left: 0;
    }

    .expense-item {
        font-size: 1rem;
        height: 60px;
    }

    .goal-display {
        font-size: 1.1rem;
        padding: 20px;
    }
}
