.custom-navbar {
<<<<<<< HEAD
    background-color: #8b95a8 !important;
    padding: 10px 24px;
=======
    background-color: #f0cb45b7 !important;
    padding: 4px 24px;
>>>>>>> d5804ed (feat: Camera 기능 추가 및 CalendarHeader 화살표 개선)
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar-brand {
    display: flex;
    align-items: center;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
} */

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}

.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-right .nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
