.custom-navbar {
    background-color: #d5d1f5;
    width: 100%;
    padding: 10px 24px;
    margin-top: 0 !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* 로고 */
.navbar-logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/* 오른쪽 메뉴 */
.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 70px;
}

.header-right .nav-link {
    color: rgb(96, 80, 106) !important;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.header-right .nav-link:active {
    color: #000000 !important; /* 원하는 색 */
}
