.my-modal .modal-content {
    border-radius: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px;
}

.my-modal .modal-header,
.my-modal .modal-footer {
    background-color: #f8f8f8;
    border-bottom: none;
    border-top: none;
}
